* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

img {
    width: 100%;
}

/* COMMON */
.container {
    width: 100%;
    height: 100vh;
    /* DEBUG */
    background-color:aliceblue;
}
/* /COMMON */


/* UTILITY */

/* /UTILITY */

/* MAIN */
/* SIDEBAR */
#sidebar {
    width: 30%;
    /* DEBUG */
    height: 800px;
    background-color: bisque;
}
/* /SIDEBAR */

/* HEADER */
header {
    width: 70%;
    height: 80px;
    /* DEBUG */
    background-color: red;
}
/* /HEADER */

/* HOME */
#home {
    width: 70%;
    /* DEBUG */
    height: 400px;
    background-color: royalblue;
}
/* /HOME */

/* FOOTER */
footer {
    width: 100%;
    height: 200px;
    /* DEBUG */
    background-color: brown;
}
/* /FOOTER */










/* /MAIN */

